html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

button {
  padding: 15px 25px;
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 10px;
  margin: 5px;
}

button:hover {
  background-color: blanchedalmond;
}

h1 {
  text-align: center;
}

.active {
  color: #fff;
  background-color: #463b3b81;
  transform: translatex(15px);
}

.active:hover{
  color: #000;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > div {
  padding: 0 15px;
}

#colorPreview {
  display: inline-block;
  border: 1px solid black;
}

#toolBar {
  position: absolute;
  padding: 3px 0;
  height: 80%;
  width: 150px;
  left: -140px;
  top: 10%;
  transition: 0.5s;
  background: #969696;
  border-radius: 0 10px 10px 0;
  z-index: 99;
}

#toolBar:hover{
  left: 0px;
}

#colorValue{
  display: inline-block;
}